.title{
    width: 100%;
    display: flex;
    align-items: space-around;
    flex-direction: row;
}

.profile-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 18px;
    margin-left: 5%;
}


.profile-text h1, h2, h3{
    display: flex;
    align-items: flex-start;
    text-align: start;
}

.profile-image{
    margin-left: 10%;
    margin-right: 20%;
}
.image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


.technology{
    width: 80px;
    height: 80px;
}

.technologies{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}

.template{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.left-side{
    width: 50%;
    margin-left: 0;
}

.right-side{
    width: 50vh;
    margin-right: 5%;
}

.section{
    display: grid;
    gap: 20px;
}

.github-status{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.github{
    width: 100%;
    height: 100%;
}



/* "display: inline-block */